{% extends 'base/base.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/category_details.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/category_filter.css' %}">
{% endblock css %}

{% block js %}
    <script src="{% static 'products/js/category_details.js' %}"></script>
    <script src="{% static 'products/js/category_filter.js' %}"></script>

{% endblock js %}


{% block content %}
    <div class="row mx-xl-5">
        {% block breadcrumb %}
        {% endblock breadcrumb %}
    </div>
    <div class="row mx-xl-5 px-xl-5">
        <div class="col-12 mb-4">
            {% block page_title %}
            {% endblock page_title %}
        </div>
        <div class="col-md-3 mb-4">
                {% block filter %}
                {% endblock filter %}
        </div>

        {% block products %}
        {% endblock products %}

    </div>
{% endblock content %}
