{% load staticfiles %}


<div class="card text-right shadow-sm mb-4">
    <h5 class="card-header">دسته بندی نتایج</h5>
    <div class="card-body pr-5">
        <h5 class="card-title"><i class="fas fa-angle-down ml-1"></i><a>{{ category.name }}</a></h5>
        <form action="" method="get">
            <div class="form-group">
                {% for choice in products.form %}
                    {% if forloop.counter < 2 %}
                        {{ choice }}
                    {% endif %}
                {% endfor %}
            </div>
        </form>
    </div>
</div>
{#<div class="card shadow-sm mb-4 text-right">#}
{#    <h5 class="card-header">محدوده قیمت</h5>#}
{#    <div class="card-body">#}
{#        <form action="" method="get">#}
{#            <div class="form-group">#}
{#                {% for choice in products.form.price %}#}
{#                    {{ choice }}#}
{#                {% endfor %}#}
{#            </div>#}
{#        <input type="submit">#}
{#        </form>#}
{#    </div>#}
{##}
{#</div>#}

