{% extends 'accounts/base.html' %}
{% load staticfiles %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        ورود
    {% endif %}
{% endblock title %}

{% block page_title %}
    <h1 class="text-center text-secondary">ورود</h1>
{% endblock page_title %}

{% block form %}
    <form  method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        {% include 'accounts/forms.html' %}
        <div class="row justify-content-center">
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-lg btn-block">ورود</button>
            </div>
        </div>
    </form>
{% endblock form %}

{% block card-footer %}
    <p class="text-muted">
       تا حالا ثبت نام نکرده اید؟
        <a href="{% url 'signup' %}">ثبت نام کنید</a>
    </p>
{% endblock card-footer %}