@import "../../../../static/scss/variables";

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 38vw;
}

.card{
  transition: all 0.3s;
}

.link-card:hover{
  text-decoration: none;
}

.store-logo{
  object-fit: cover;
  width: 2.5rem;
  height: 2.5rem;
}

.store-name{
  font-size: 10px;
  line-height: 3.2em;
  max-width: 150px;
}

.ratings{
  font-size: 11px;
  line-height: 1.3em;
  color: $_green_with_gray_dark;
}

.price {
  font-size: 20px;
  font-weight: bolder;
}
.toman{
  font-size: 9px;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card-img-top {
    height: 24vw;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-img-top {
    height: 15vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-img-top {
    height: 14vw;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-img-top {
    height: 14vw;
  }
}